

.button-violet-cgi{
      background-color: var(--violetCgi) !important;
      color: white !important;
}

.button-red-cgi{
      background-color: var(--redCgi) !important;
      color: white !important;
}

.ant-statistic-content-value{
      font-size: 35px;
}