.rank-container{
  background-color: white;
  border-radius: 20px;
  display: flex;
  margin: 20px 20px 0 20px;
  padding: 10px;
  justify-content: space-between;
  border : solid 1px #d2d2d2;
  box-shadow: 4px 8px 51px -21px rgba(0,0,0,1);
  -webkit-box-shadow: 4px 8px 51px -21px rgba(0,0,0,1);
  -moz-box-shadow: 4px 8px 51px -21px rgba(0,0,0,1);
}